In [1]:
import pandas as pd

print(pd.__version__)

2.2.0

C:\Users\corne\AppData\Local\Temp\ipykernel_28936\2433589665.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
d = {'penjual':['Neil', 'Puri', 'Ray', 'Jessica', 'Lia', 'Grace', 'Victor', 'Marcel'], 
     'barang':['monitor', 'monitor', 'keyboard', 'mouse', 'keyboard', 'monitor', 'laptop', 'monitor']}

df = pd.DataFrame(d)
df

   penjual    barang
0     Neil   monitor
1     Puri   monitor
2      Ray  keyboard
3  Jessica     mouse
4      Lia  keyboard
5    Grace   monitor
6   Victor    laptop
7   Marcel   monitor

In [3]:
cols = ['penjual', 'barang']

for col in cols:
    df[f'count_tiap_{col}'] =  df.groupby(col).cumcount() + 1
    
df

   penjual    barang  count_tiap_penjual  count_tiap_barang
0     Neil   monitor                   1                  1
1     Puri   monitor                   1                  2
2      Ray  keyboard                   1                  1
3  Jessica     mouse                   1                  1
4      Lia  keyboard                   1                  2
5    Grace   monitor                   1                  3
6   Victor    laptop                   1                  1
7   Marcel   monitor                   1                  4