In [1]:
import pandas as pd

print(pd.__version__)

2.2.0

C:\Users\corne\AppData\Local\Temp\ipykernel_19244\2433589665.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = {'nama': ['Neil', 'Ray', 'Puri', 'Victor'], 
        'jenis_kelamin': ['L', 'L', 'P', 'L'],
        'usia': [23, 21, 22, 25]}

df = pd.DataFrame(data)
df

     nama jenis_kelamin  usia
0    Neil             L    23
1     Ray             L    21
2    Puri             P    22
3  Victor             L    25

In [3]:
df.to_csv('data_peserta.csv')

In [4]:
df = pd.read_csv('data_peserta.csv')
df

   Unnamed: 0    nama jenis_kelamin  usia
0           0    Neil             L    23
1           1     Ray             L    21
2           2    Puri             P    22
3           3  Victor             L    25

In [5]:
df.to_csv('data_peserta.csv', index=False)
df = pd.read_csv('data_peserta.csv')
df

   Unnamed: 0    nama jenis_kelamin  usia
0           0    Neil             L    23
1           1     Ray             L    21
2           2    Puri             P    22
3           3  Victor             L    25