In [2]:
import pandas as pd
import numpy as np

n_rows = 365
n_cols = 2
cols = ['cl1', 'cl2']

In [3]:
df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

date_index = pd.date_range(start='2023-01-01', periods=n_rows, freq='D')
df.index = date_index

print(df)

            cl1  cl2
2023-01-01    1    4
2023-01-02    9    7
2023-01-03   16   16
2023-01-04    5    2
2023-01-05    8   18
...         ...  ...
2023-12-27    2   19
2023-12-28   11   16
2023-12-29   17    7
2023-12-30    7   17
2023-12-31    9    5

[365 rows x 2 columns]

In [4]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            cl1  cl2
2023-01-02    9    7
2023-01-03   16   16
2023-01-04    5    2
2023-01-05    8   18
2023-01-06   17   17
2023-01-09    4   13
2023-01-10    6   15

In [6]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            cl1  cl2
2023-01-01    1    4
2023-01-07    1   19
2023-01-08    5    1
2023-01-14   15    3
2023-01-15    5    9
2023-01-21   12   19
2023-01-22   10   13